<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="css/demo-pages.css" />
    <link rel="stylesheet" href="css/layout-previews.css" />
    <link rel="stylesheet" href="_content/CoreBlaze.Components/CoreBlaze.css" />
    <link rel="stylesheet" href="CoreBlaze.Demo.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/CoreBlaze.Components/CoreBlaze.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
